.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52px;
}

.player-name {
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}