body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}

.cell-overflow-visible > div > h6,
.cell-overflow-visible > div > h6 > span,
/* in mobile phone it renders subtitle as a span */
.cell-overflow-visible > div > span,
.cell-overflow-visible > div > span > span {
  overflow: visible;
}

.cell-align-items-center > div > h6,
/* in mobile phone it renders subtitle as a span */
.cell-align-items-center > div > span {
  align-self: center;
}

.cell-display-block > div > h6 > span,
/* in mobile phone it renders subtitle as a span */
.cell-display-block > div > span > span {
  display: flex;
  gap: 16px;
}

.cell-badge-flex-0 {
  flex: 0 0 auto;
}

.text-crossed {
  text-decoration: line-through;
}

.primary-text-color {
  color: var(--tgui--link_color);
}

.bg-color {
  background-color: var(--tgui--bg_color);
}

.secondary-bg-color {
  background-color: var(--tg-theme-secondary-bg-color);
}

.white-bg-color {
  background-color: var(--tgui--white);
}

.transparent-bg-color {
  background-color: transparent;
}

.info-accent-text-color > span {
  color: var(--tg-theme-accent-text-color);
}

.info-text-color > span {
  color: var(--tg-theme-text-color);
}

.info-subtitle-accent-text-color > h6 {
  color: var(--tg-theme-accent-text-color);
}

.info-subtitle-destructive-text-color > h6 {
  color: var(--tg-theme-destructive-text-color);
}
