body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}

.cell h6 {
  color: var(--tgui--destructive_text_color, red);
}

/*
--tgui--accent_text_color
--tgui--destructive_text_color
*/